#!/usr/bin/make -f

export DH_VERBOSE=1

%:
	dh $@

override_dh_auto_configure:
	# Explicitly use CMake, ignore Makefile
	dh_auto_configure --buildsystem=cmake -- \
		-DCMAKE_BUILD_TYPE=Release \
		-DCMAKE_INSTALL_PREFIX=/usr

